//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 01 17:07:55 2023
//! **************************************************************************

SCHEMATIC START;
COMP "ram_we_n_o" LOCATE = SITE "C2" LEVEL 1;
COMP "ps2_data_io" LOCATE = SITE "F3" LEVEL 1;
COMP "ram_addr_o<10>" LOCATE = SITE "M2" LEVEL 1;
COMP "ram_addr_o<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "ram_addr_o<12>" LOCATE = SITE "L3" LEVEL 1;
COMP "ram_addr_o<20>" LOCATE = SITE "B1" LEVEL 1;
COMP "ram_addr_o<13>" LOCATE = SITE "L1" LEVEL 1;
COMP "ram_addr_o<14>" LOCATE = SITE "K2" LEVEL 1;
COMP "ram_addr_o<15>" LOCATE = SITE "K1" LEVEL 1;
COMP "ram_addr_o<16>" LOCATE = SITE "J3" LEVEL 1;
COMP "ram_addr_o<17>" LOCATE = SITE "J1" LEVEL 1;
COMP "ram_addr_o<18>" LOCATE = SITE "H2" LEVEL 1;
COMP "ram_addr_o<19>" LOCATE = SITE "H1" LEVEL 1;
COMP "ps2_pin2_io" LOCATE = SITE "F4" LEVEL 1;
COMP "ps2_pin6_io" LOCATE = SITE "A2" LEVEL 1;
COMP "esp_gpio0_io" LOCATE = SITE "C15" LEVEL 1;
COMP "esp_gpio2_io" LOCATE = SITE "C16" LEVEL 1;
COMP "btn_multiface_n_i" LOCATE = SITE "P9" LEVEL 1;
COMP "led_red_o" LOCATE = SITE "M10" LEVEL 1;
COMP "led_green_o" LOCATE = SITE "T9" LEVEL 1;
COMP "ram_data_io<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "ram_data_io<1>" LOCATE = SITE "G1" LEVEL 1;
COMP "ram_data_io<2>" LOCATE = SITE "F2" LEVEL 1;
COMP "ram_data_io<3>" LOCATE = SITE "F1" LEVEL 1;
COMP "ram_data_io<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "ram_data_io<5>" LOCATE = SITE "J4" LEVEL 1;
COMP "ram_data_io<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "ram_data_io<7>" LOCATE = SITE "H5" LEVEL 1;
COMP "ram_data_io<8>" LOCATE = SITE "H4" LEVEL 1;
COMP "ram_data_io<9>" LOCATE = SITE "H3" LEVEL 1;
COMP "joyp1_i" LOCATE = SITE "E13" LEVEL 1;
COMP "joyp2_i" LOCATE = SITE "B15" LEVEL 1;
COMP "joyp3_i" LOCATE = SITE "F12" LEVEL 1;
COMP "joyp4_i" LOCATE = SITE "G11" LEVEL 1;
COMP "joyp6_i" LOCATE = SITE "E12" LEVEL 1;
COMP "joyp7_o" LOCATE = SITE "B16" LEVEL 1;
COMP "joyp9_i" LOCATE = SITE "D14" LEVEL 1;
COMP "hsync_o" LOCATE = SITE "E6" LEVEL 1;
COMP "audioext_l_o" LOCATE = SITE "D6" LEVEL 1;
COMP "audioext_r_o" LOCATE = SITE "C6" LEVEL 1;
COMP "ear_port_i" LOCATE = SITE "G6" LEVEL 1;
COMP "flash_cs_n_o" LOCATE = SITE "T3" LEVEL 1;
COMP "flash_hold_o" LOCATE = SITE "P12" LEVEL 1;
COMP "flash_miso_i" LOCATE = SITE "P10" LEVEL 1;
COMP "flash_sclk_o" LOCATE = SITE "R11" LEVEL 1;
COMP "flash_mosi_o" LOCATE = SITE "T10" LEVEL 1;
COMP "clock_50_i" LOCATE = SITE "T8" LEVEL 1;
COMP "vsync_o" LOCATE = SITE "C7" LEVEL 1;
COMP "sd_miso_i" LOCATE = SITE "G14" LEVEL 1;
COMP "sd_sclk_o" LOCATE = SITE "F16" LEVEL 1;
COMP "sd_mosi_o" LOCATE = SITE "F15" LEVEL 1;
COMP "ps2_clk_io" LOCATE = SITE "E4" LEVEL 1;
COMP "ram_addr_o<0>" LOCATE = SITE "M4" LEVEL 1;
COMP "ram_addr_o<1>" LOCATE = SITE "M3" LEVEL 1;
COMP "ram_addr_o<2>" LOCATE = SITE "M5" LEVEL 1;
COMP "ram_addr_o<3>" LOCATE = SITE "N4" LEVEL 1;
COMP "ram_addr_o<4>" LOCATE = SITE "R2" LEVEL 1;
COMP "ram_addr_o<5>" LOCATE = SITE "R1" LEVEL 1;
COMP "ram_addr_o<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "ram_addr_o<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "ram_addr_o<8>" LOCATE = SITE "N3" LEVEL 1;
COMP "ram_addr_o<9>" LOCATE = SITE "N1" LEVEL 1;
COMP "btn_divmmc_n_i" LOCATE = SITE "N9" LEVEL 1;
COMP "flash_wp_o" LOCATE = SITE "N12" LEVEL 1;
COMP "led_blue_o" LOCATE = SITE "M9" LEVEL 1;
COMP "esp_rx_i" LOCATE = SITE "F14" LEVEL 1;
COMP "esp_tx_o" LOCATE = SITE "F13" LEVEL 1;
COMP "ram_data_io<10>" LOCATE = SITE "L4" LEVEL 1;
COMP "ram_data_io<11>" LOCATE = SITE "L5" LEVEL 1;
COMP "ram_data_io<12>" LOCATE = SITE "E2" LEVEL 1;
COMP "ram_data_io<13>" LOCATE = SITE "E1" LEVEL 1;
COMP "ram_data_io<14>" LOCATE = SITE "K5" LEVEL 1;
COMP "ram_data_io<15>" LOCATE = SITE "K6" LEVEL 1;
COMP "mic_port_o" LOCATE = SITE "G5" LEVEL 1;
COMP "led_yellow_o" LOCATE = SITE "R9" LEVEL 1;
COMP "sd_cs0_n_o" LOCATE = SITE "E16" LEVEL 1;
COMP "rgb_b_o<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "rgb_b_o<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "rgb_b_o<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "rgb_b_o<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "rgb_b_o<4>" LOCATE = SITE "F7" LEVEL 1;
COMP "rgb_g_o<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "rgb_g_o<1>" LOCATE = SITE "B10" LEVEL 1;
COMP "rgb_g_o<2>" LOCATE = SITE "A5" LEVEL 1;
COMP "rgb_g_o<3>" LOCATE = SITE "D5" LEVEL 1;
COMP "rgb_g_o<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "ram_ce_n_o" LOCATE = SITE "C3" LEVEL 1;
COMP "ram_lb_n_o" LOCATE = SITE "D1" LEVEL 1;
COMP "rgb_r_o<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "rgb_r_o<1>" LOCATE = SITE "C9" LEVEL 1;
COMP "rgb_r_o<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "rgb_r_o<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "rgb_r_o<4>" LOCATE = SITE "B5" LEVEL 1;
COMP "ram_oe_n_o" LOCATE = SITE "D3" LEVEL 1;
COMP "ram_ub_n_o" LOCATE = SITE "C1" LEVEL 1;
PIN sam/MyCtrlModule/myosd/charram/Mram_mem1_pins<22> = BEL
        "sam/MyCtrlModule/myosd/charram/Mram_mem1" PINNAME CLKA;
PIN sam/MyCtrlModule/myosd/charram/Mram_mem1_pins<23> = BEL
        "sam/MyCtrlModule/myosd/charram/Mram_mem1" PINNAME CLKB;
PIN sam/MyCtrlModule_myosd/charrom/Mram_rom_pins<14> = BEL
        "sam/MyCtrlModule_myosd/charrom/Mram_rom" PINNAME CLKA;
TIMEGRP sam_los_relojes_clkout0 = BEL "sam/los_relojes/clkout1_buf" BEL
        "sam/los_relojes/clk8ct_3" BEL "sam/los_relojes/clk8ct_2" BEL
        "sam/los_relojes/clk8ct_1" BEL "sam/los_relojes/clk8ct_0" BEL
        "sam/count_6" BEL "sam/count_5" BEL "sam/count_4" BEL "sam/count_3"
        BEL "sam/count_2" BEL "sam/count_1" BEL "sam/los_relojes/clk8" BEL
        "sam/MyCtrlModule/myosd/pixelcounter_3" BEL
        "sam/MyCtrlModule/myosd/pixelcounter_2" BEL
        "sam/MyCtrlModule/myosd/pixelcounter_1" BEL
        "sam/MyCtrlModule/myosd/pixelcounter_0" BEL
        "sam/MyCtrlModule/myosd/hcounter_13" BEL
        "sam/MyCtrlModule/myosd/hcounter_12" BEL
        "sam/MyCtrlModule/myosd/hcounter_11" BEL
        "sam/MyCtrlModule/myosd/hcounter_10" BEL
        "sam/MyCtrlModule/myosd/hcounter_9" BEL
        "sam/MyCtrlModule/myosd/hcounter_8" BEL
        "sam/MyCtrlModule/myosd/hcounter_7" BEL
        "sam/MyCtrlModule/myosd/hcounter_6" BEL
        "sam/MyCtrlModule/myosd/hcounter_5" BEL
        "sam/MyCtrlModule/myosd/hcounter_4" BEL
        "sam/MyCtrlModule/myosd/hcounter_3" BEL
        "sam/MyCtrlModule/myosd/hcounter_2" BEL
        "sam/MyCtrlModule/myosd/hcounter_1" BEL
        "sam/MyCtrlModule/myosd/hcounter_0" BEL
        "sam/MyCtrlModule/myosd/vcounter_10" BEL
        "sam/MyCtrlModule/myosd/vcounter_9" BEL
        "sam/MyCtrlModule/myosd/vcounter_8" BEL
        "sam/MyCtrlModule/myosd/vcounter_7" BEL
        "sam/MyCtrlModule/myosd/vcounter_6" BEL
        "sam/MyCtrlModule/myosd/vcounter_5" BEL
        "sam/MyCtrlModule/myosd/vcounter_4" BEL
        "sam/MyCtrlModule/myosd/vcounter_3" BEL
        "sam/MyCtrlModule/myosd/vcounter_2" BEL
        "sam/MyCtrlModule/myosd/vcounter_1" BEL
        "sam/MyCtrlModule/myosd/vcounter_0" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_11" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_10" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_9" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_8" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_7" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_6" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_5" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_4" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_3" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_2" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_1" BEL
        "sam/MyCtrlModule/myosd/ypixelpostmp_0" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_11" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_10" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_9" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_8" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_7" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_6" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_5" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_4" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_3" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_2" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_1" BEL
        "sam/MyCtrlModule/myosd/xpixelpos_0" BEL
        "sam/MyCtrlModule/myosd/newframe" BEL
        "sam/MyCtrlModule/myosd/vframe_15" BEL
        "sam/MyCtrlModule/myosd/vframe_14" BEL
        "sam/MyCtrlModule/myosd/vframe_13" BEL
        "sam/MyCtrlModule/myosd/vframe_12" BEL
        "sam/MyCtrlModule/myosd/vframe_11" BEL
        "sam/MyCtrlModule/myosd/vframe_10" BEL
        "sam/MyCtrlModule/myosd/vframe_9" BEL
        "sam/MyCtrlModule/myosd/vframe_8" BEL
        "sam/MyCtrlModule/myosd/vframe_7" BEL
        "sam/MyCtrlModule/myosd/vframe_6" BEL
        "sam/MyCtrlModule/myosd/vframe_5" BEL
        "sam/MyCtrlModule/myosd/vframe_4" BEL
        "sam/MyCtrlModule/myosd/vframe_3" BEL
        "sam/MyCtrlModule/myosd/vframe_2" BEL
        "sam/MyCtrlModule/myosd/vframe_1" BEL
        "sam/MyCtrlModule/myosd/vframe_0" BEL "sam/MyCtrlModule/myosd/vsync_p"
        BEL "sam/MyCtrlModule/myosd/pix" BEL "sam/MyCtrlModule/myosd/newline"
        BEL "sam/MyCtrlModule/myosd/xpos_11" BEL
        "sam/MyCtrlModule/myosd/xpos_10" BEL "sam/MyCtrlModule/myosd/xpos_9"
        BEL "sam/MyCtrlModule/myosd/xpos_8" BEL
        "sam/MyCtrlModule/myosd/xpos_7" BEL "sam/MyCtrlModule/myosd/xpos_6"
        BEL "sam/MyCtrlModule/myosd/xpos_5" BEL
        "sam/MyCtrlModule/myosd/xpos_4" BEL "sam/MyCtrlModule/myosd/xpos_3"
        BEL "sam/MyCtrlModule/myosd/xpos_2" BEL
        "sam/MyCtrlModule/myosd/xpos_1" BEL "sam/MyCtrlModule/myosd/xpos_0"
        BEL "sam/MyCtrlModule/myosd/ypos_11" BEL
        "sam/MyCtrlModule/myosd/ypos_10" BEL "sam/MyCtrlModule/myosd/ypos_9"
        BEL "sam/MyCtrlModule/myosd/ypos_8" BEL
        "sam/MyCtrlModule/myosd/ypos_7" BEL "sam/MyCtrlModule/myosd/ypos_6"
        BEL "sam/MyCtrlModule/myosd/ypos_5" BEL
        "sam/MyCtrlModule/myosd/ypos_4" BEL "sam/MyCtrlModule/myosd/ypos_3"
        BEL "sam/MyCtrlModule/myosd/ypos_2" BEL
        "sam/MyCtrlModule/myosd/ypos_1" BEL "sam/MyCtrlModule/myosd/ypos_0"
        BEL "sam/MyCtrlModule/myosd/osd_enable" BEL
        "sam/MyCtrlModule/myosd/pixelclock_3" BEL
        "sam/MyCtrlModule/myosd/pixelclock_2" BEL
        "sam/MyCtrlModule/myosd/pixelclock_1" BEL
        "sam/MyCtrlModule/myosd/pixelclock_0" BEL
        "sam/MyCtrlModule/myosd/vsync_pol" BEL
        "sam/MyCtrlModule/myosd/hsync_pol" BEL
        "sam/MyCtrlModule/myosd/hframe_15" BEL
        "sam/MyCtrlModule/myosd/hframe_14" BEL
        "sam/MyCtrlModule/myosd/hframe_13" BEL
        "sam/MyCtrlModule/myosd/hframe_12" BEL
        "sam/MyCtrlModule/myosd/hframe_11" BEL
        "sam/MyCtrlModule/myosd/hframe_10" BEL
        "sam/MyCtrlModule/myosd/hframe_9" BEL
        "sam/MyCtrlModule/myosd/hframe_8" BEL
        "sam/MyCtrlModule/myosd/hframe_7" BEL
        "sam/MyCtrlModule/myosd/hframe_6" BEL
        "sam/MyCtrlModule/myosd/hframe_5" BEL
        "sam/MyCtrlModule/myosd/hframe_4" BEL
        "sam/MyCtrlModule/myosd/hframe_3" BEL
        "sam/MyCtrlModule/myosd/hframe_2" BEL
        "sam/MyCtrlModule/myosd/hframe_1" BEL
        "sam/MyCtrlModule/myosd/hframe_0" BEL "sam/MyCtrlModule/myosd/hsync_p"
        BEL "sam/MyCtrlModule/UART.uart/txcounter_8" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_7" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_6" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_5" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_4" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_3" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_2" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_1" BEL
        "sam/MyCtrlModule/UART.uart/txcounter_0" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_16" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_15" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_14" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_13" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_12" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_11" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_10" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_9" BEL
        "sam/MyCtrlModule/UART.uart/txbuffer_8" BEL
        "sam/MyCtrlModule/UART.uart/txclock" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/prev_demand" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_dend" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_7" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_6" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_5" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_4" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_3" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_2" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_1" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/tap_data_0" BEL
        "sam/MyCtrlModule/intcontroller/status_1" BEL
        "sam/MyCtrlModule/intcontroller/status_0" BEL
        "sam/MyCtrlModule/intcontroller/int" BEL
        "sam/MyCtrlModule/intcontroller/pending_2" BEL
        "sam/MyCtrlModule/intcontroller/pending_1" BEL
        "sam/MyCtrlModule/intcontroller/pending_0" BEL
        "sam/maquina/ps2_keyb/debounce_count_9" BEL
        "sam/maquina/ps2_keyb/debounce_count_8" BEL
        "sam/maquina/ps2_keyb/debounce_count_7" BEL
        "sam/maquina/ps2_keyb/debounce_count_6" BEL
        "sam/maquina/ps2_keyb/debounce_count_5" BEL
        "sam/maquina/ps2_keyb/debounce_count_4" BEL
        "sam/maquina/ps2_keyb/debounce_count_3" BEL
        "sam/maquina/ps2_keyb/debounce_count_2" BEL
        "sam/maquina/ps2_keyb/debounce_count_1" BEL
        "sam/maquina/ps2_keyb/debounce_count_0" BEL
        "sam/maquina/ps2_keyb/kbd_clk_last" BEL
        "sam/maquina/ps2_keyb/kbd_clk_debounced" BEL
        "sam/maquina/el_saa/outmix_l/out_7" BEL
        "sam/maquina/el_saa/outmix_l/out_6" BEL
        "sam/maquina/el_saa/outmix_l/out_5" BEL
        "sam/maquina/el_saa/outmix_l/out_4" BEL
        "sam/maquina/el_saa/outmix_l/out_3" BEL
        "sam/maquina/el_saa/outmix_l/out_2" BEL
        "sam/maquina/el_saa/outmix_l/out_1" BEL
        "sam/maquina/el_saa/outmix_l/out_0" BEL
        "sam/maquina/el_saa/outmix_r/out_7" BEL
        "sam/maquina/el_saa/outmix_r/out_6" BEL
        "sam/maquina/el_saa/outmix_r/out_5" BEL
        "sam/maquina/el_saa/outmix_r/out_4" BEL
        "sam/maquina/el_saa/outmix_r/out_3" BEL
        "sam/maquina/el_saa/outmix_r/out_2" BEL
        "sam/maquina/el_saa/outmix_r/out_1" BEL
        "sam/maquina/el_saa/outmix_r/out_0" BEL
        "sam/maquina/el_saa/outmix_r/ced" BEL "sam/maquina/el_saa/addr_4" BEL
        "sam/maquina/el_saa/addr_3" BEL "sam/maquina/el_saa/addr_2" BEL
        "sam/maquina/el_saa/addr_1" BEL "sam/maquina/el_saa/addr_0" BEL
        "sam/maquina/el_saa/wr" BEL "sam/maquina/el_saa/old_wr" BEL
        "sam/maquina/el_saa/envelope0_7" BEL "sam/maquina/el_saa/envelope0_5"
        BEL "sam/maquina/el_saa/envelope0_4" BEL
        "sam/maquina/el_saa/envelope0_3" BEL "sam/maquina/el_saa/envelope0_2"
        BEL "sam/maquina/el_saa/envelope0_1" BEL
        "sam/maquina/el_saa/envelope0_0" BEL "sam/maquina/el_saa/envelope1_7"
        BEL "sam/maquina/el_saa/envelope1_5" BEL
        "sam/maquina/el_saa/envelope1_4" BEL "sam/maquina/el_saa/envelope1_3"
        BEL "sam/maquina/el_saa/envelope1_2" BEL
        "sam/maquina/el_saa/envelope1_1" BEL "sam/maquina/el_saa/envelope1_0"
        BEL "sam/maquina/el_saa/ctrl_1" BEL "sam/maquina/el_saa/ctrl_0" BEL
        "sam/maquina/el_saa/noiseenable_5" BEL
        "sam/maquina/el_saa/noiseenable_4" BEL
        "sam/maquina/el_saa/noiseenable_3" BEL
        "sam/maquina/el_saa/noiseenable_2" BEL
        "sam/maquina/el_saa/noiseenable_1" BEL
        "sam/maquina/el_saa/noiseenable_0" BEL "sam/maquina/el_saa/noisegen_5"
        BEL "sam/maquina/el_saa/noisegen_4" BEL
        "sam/maquina/el_saa/noisegen_1" BEL "sam/maquina/el_saa/noisegen_0"
        BEL "sam/maquina/el_saa/freqenable_5" BEL
        "sam/maquina/el_saa/freqenable_4" BEL
        "sam/maquina/el_saa/freqenable_3" BEL
        "sam/maquina/el_saa/freqenable_2" BEL
        "sam/maquina/el_saa/freqenable_1" BEL
        "sam/maquina/el_saa/freqenable_0" BEL "sam/maquina/el_saa/oct32_6" BEL
        "sam/maquina/el_saa/oct32_5" BEL "sam/maquina/el_saa/oct32_4" BEL
        "sam/maquina/el_saa/oct32_2" BEL "sam/maquina/el_saa/oct32_1" BEL
        "sam/maquina/el_saa/oct32_0" BEL "sam/maquina/el_saa/oct54_6" BEL
        "sam/maquina/el_saa/oct54_5" BEL "sam/maquina/el_saa/oct54_4" BEL
        "sam/maquina/el_saa/oct54_2" BEL "sam/maquina/el_saa/oct54_1" BEL
        "sam/maquina/el_saa/oct54_0" BEL "sam/maquina/el_saa/oct10_6" BEL
        "sam/maquina/el_saa/oct10_5" BEL "sam/maquina/el_saa/oct10_4" BEL
        "sam/maquina/el_saa/oct10_2" BEL "sam/maquina/el_saa/oct10_1" BEL
        "sam/maquina/el_saa/oct10_0" BEL "sam/maquina/el_saa/freq1_7" BEL
        "sam/maquina/el_saa/freq1_6" BEL "sam/maquina/el_saa/freq1_5" BEL
        "sam/maquina/el_saa/freq1_4" BEL "sam/maquina/el_saa/freq1_3" BEL
        "sam/maquina/el_saa/freq1_2" BEL "sam/maquina/el_saa/freq1_1" BEL
        "sam/maquina/el_saa/freq1_0" BEL "sam/maquina/el_saa/freq2_7" BEL
        "sam/maquina/el_saa/freq2_6" BEL "sam/maquina/el_saa/freq2_5" BEL
        "sam/maquina/el_saa/freq2_4" BEL "sam/maquina/el_saa/freq2_3" BEL
        "sam/maquina/el_saa/freq2_2" BEL "sam/maquina/el_saa/freq2_1" BEL
        "sam/maquina/el_saa/freq2_0" BEL "sam/maquina/el_saa/freq0_7" BEL
        "sam/maquina/el_saa/freq0_6" BEL "sam/maquina/el_saa/freq0_5" BEL
        "sam/maquina/el_saa/freq0_4" BEL "sam/maquina/el_saa/freq0_3" BEL
        "sam/maquina/el_saa/freq0_2" BEL "sam/maquina/el_saa/freq0_1" BEL
        "sam/maquina/el_saa/freq0_0" BEL "sam/maquina/el_saa/freq4_7" BEL
        "sam/maquina/el_saa/freq4_6" BEL "sam/maquina/el_saa/freq4_5" BEL
        "sam/maquina/el_saa/freq4_4" BEL "sam/maquina/el_saa/freq4_3" BEL
        "sam/maquina/el_saa/freq4_2" BEL "sam/maquina/el_saa/freq4_1" BEL
        "sam/maquina/el_saa/freq4_0" BEL "sam/maquina/el_saa/freq5_7" BEL
        "sam/maquina/el_saa/freq5_6" BEL "sam/maquina/el_saa/freq5_5" BEL
        "sam/maquina/el_saa/freq5_4" BEL "sam/maquina/el_saa/freq5_3" BEL
        "sam/maquina/el_saa/freq5_2" BEL "sam/maquina/el_saa/freq5_1" BEL
        "sam/maquina/el_saa/freq5_0" BEL "sam/maquina/el_saa/freq3_7" BEL
        "sam/maquina/el_saa/freq3_6" BEL "sam/maquina/el_saa/freq3_5" BEL
        "sam/maquina/el_saa/freq3_4" BEL "sam/maquina/el_saa/freq3_3" BEL
        "sam/maquina/el_saa/freq3_2" BEL "sam/maquina/el_saa/freq3_1" BEL
        "sam/maquina/el_saa/freq3_0" BEL "sam/maquina/el_saa/amplit1_7" BEL
        "sam/maquina/el_saa/amplit1_6" BEL "sam/maquina/el_saa/amplit1_5" BEL
        "sam/maquina/el_saa/amplit1_4" BEL "sam/maquina/el_saa/amplit1_3" BEL
        "sam/maquina/el_saa/amplit1_2" BEL "sam/maquina/el_saa/amplit1_1" BEL
        "sam/maquina/el_saa/amplit1_0" BEL "sam/maquina/el_saa/amplit2_7" BEL
        "sam/maquina/el_saa/amplit2_6" BEL "sam/maquina/el_saa/amplit2_5" BEL
        "sam/maquina/el_saa/amplit2_4" BEL "sam/maquina/el_saa/amplit2_3" BEL
        "sam/maquina/el_saa/amplit2_2" BEL "sam/maquina/el_saa/amplit2_1" BEL
        "sam/maquina/el_saa/amplit2_0" BEL "sam/maquina/el_saa/amplit0_7" BEL
        "sam/maquina/el_saa/amplit0_6" BEL "sam/maquina/el_saa/amplit0_5" BEL
        "sam/maquina/el_saa/amplit0_4" BEL "sam/maquina/el_saa/amplit0_3" BEL
        "sam/maquina/el_saa/amplit0_2" BEL "sam/maquina/el_saa/amplit0_1" BEL
        "sam/maquina/el_saa/amplit0_0" BEL "sam/maquina/el_saa/amplit4_7" BEL
        "sam/maquina/el_saa/amplit4_6" BEL "sam/maquina/el_saa/amplit4_5" BEL
        "sam/maquina/el_saa/amplit4_4" BEL "sam/maquina/el_saa/amplit4_3" BEL
        "sam/maquina/el_saa/amplit4_2" BEL "sam/maquina/el_saa/amplit4_1" BEL
        "sam/maquina/el_saa/amplit4_0" BEL "sam/maquina/el_saa/amplit5_7" BEL
        "sam/maquina/el_saa/amplit5_6" BEL "sam/maquina/el_saa/amplit5_5" BEL
        "sam/maquina/el_saa/amplit5_4" BEL "sam/maquina/el_saa/amplit5_3" BEL
        "sam/maquina/el_saa/amplit5_2" BEL "sam/maquina/el_saa/amplit5_1" BEL
        "sam/maquina/el_saa/amplit5_0" BEL "sam/maquina/el_saa/amplit3_7" BEL
        "sam/maquina/el_saa/amplit3_6" BEL "sam/maquina/el_saa/amplit3_5" BEL
        "sam/maquina/el_saa/amplit3_4" BEL "sam/maquina/el_saa/amplit3_3" BEL
        "sam/maquina/el_saa/amplit3_2" BEL "sam/maquina/el_saa/amplit3_1" BEL
        "sam/maquina/el_saa/amplit3_0" BEL
        "sam/maquina/el_saa/top/amp2/counter_3" BEL
        "sam/maquina/el_saa/top/amp2/counter_2" BEL
        "sam/maquina/el_saa/top/amp2/counter_1" BEL
        "sam/maquina/el_saa/top/amp2/counter_0" BEL
        "sam/maquina/el_saa/top/amp2/new_data" BEL
        "sam/maquina/el_saa/top/amp2/clock" BEL
        "sam/maquina/el_saa/top/amp2/shape_2" BEL
        "sam/maquina/el_saa/top/amp2/shape_1" BEL
        "sam/maquina/el_saa/top/amp2/shape_0" BEL
        "sam/maquina/el_saa/top/amp2/stereo" BEL
        "sam/maquina/el_saa/bottom/amp2/counter_3" BEL
        "sam/maquina/el_saa/bottom/amp2/counter_2" BEL
        "sam/maquina/el_saa/bottom/amp2/counter_1" BEL
        "sam/maquina/el_saa/bottom/amp2/counter_0" BEL
        "sam/maquina/el_saa/bottom/amp2/new_data" BEL
        "sam/maquina/el_saa/bottom/amp2/clock" BEL
        "sam/maquina/el_saa/bottom/amp2/shape_2" BEL
        "sam/maquina/el_saa/bottom/amp2/shape_1" BEL
        "sam/maquina/el_saa/bottom/amp2/shape_0" BEL
        "sam/maquina/el_saa/bottom/amp2/stereo" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_16" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_15" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_14" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_13" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_12" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_11" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_10" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_9" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_8" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_7" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_6" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_5" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_4" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_3" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_2" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_1" BEL
        "sam/maquina/el_saa/top/noise_gen/lfsr_0" BEL
        "sam/maquina/el_saa/top/noise_gen/count_10" BEL
        "sam/maquina/el_saa/top/noise_gen/count_9" BEL
        "sam/maquina/el_saa/top/noise_gen/count_8" BEL
        "sam/maquina/el_saa/top/noise_gen/count_7" BEL
        "sam/maquina/el_saa/top/noise_gen/count_6" BEL
        "sam/maquina/el_saa/top/noise_gen/count_5" BEL
        "sam/maquina/el_saa/top/noise_gen/count_4" BEL
        "sam/maquina/el_saa/top/noise_gen/count_3" BEL
        "sam/maquina/el_saa/top/noise_gen/count_2" BEL
        "sam/maquina/el_saa/top/noise_gen/count_1" BEL
        "sam/maquina/el_saa/top/noise_gen/count_0" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_16" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_15" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_14" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_13" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_12" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_11" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_10" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_9" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_8" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_7" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_6" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_5" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_4" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_3" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_2" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_1" BEL
        "sam/maquina/el_saa/bottom/noise_gen/lfsr_0" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_10" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_9" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_8" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_7" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_6" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_5" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_4" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_3" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_2" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_1" BEL
        "sam/maquina/el_saa/bottom/noise_gen/count_0" BEL
        "sam/maquina/el_saa/top/freq_gen0/pulse" BEL
        "sam/maquina/el_saa/top/freq_gen0/out" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_16" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_15" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_14" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_13" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_12" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_11" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_10" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_9" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_8" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_7" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_6" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_5" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_4" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_3" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_2" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_1" BEL
        "sam/maquina/el_saa/top/freq_gen0/count_0" BEL
        "sam/maquina/el_saa/top/freq_gen1/pulse" BEL
        "sam/maquina/el_saa/top/freq_gen1/out" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_16" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_15" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_14" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_13" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_12" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_11" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_10" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_9" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_8" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_7" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_6" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_5" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_4" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_3" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_2" BEL
        "sam/maquina/el_saa/top/freq_gen1/count_1" BEL
        "sam/maquina/el_saa/top/freq_gen2/out" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_16" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_15" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_14" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_13" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_12" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_11" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_10" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_9" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_8" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_7" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_6" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_5" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_4" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_3" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_2" BEL
        "sam/maquina/el_saa/top/freq_gen2/count_1" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/pulse" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/out" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_16" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_15" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_14" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_13" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_12" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_11" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_10" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_9" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_8" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_7" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_6" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_5" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_4" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_3" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_2" BEL
        "sam/maquina/el_saa/bottom/freq_gen0/count_1" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/pulse" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/out" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_16" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_15" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_14" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_13" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_12" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_11" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_10" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_9" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_8" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_7" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_6" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_5" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_4" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_3" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_2" BEL
        "sam/maquina/el_saa/bottom/freq_gen1/count_1" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/out" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_16" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_15" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_14" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_13" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_12" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_11" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_10" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_9" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_8" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_7" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_6" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_5" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_4" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_3" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_2" BEL
        "sam/maquina/el_saa/bottom/freq_gen2/count_1" BEL
        "sam/MyCtrlModule/myosd/vwindowactive" BEL
        "sam/MyCtrlModule/myosd/hwindowactive" BEL
        "sam/MyCtrlModule/UART.uart/txready" BEL
        "sam/MyCtrlModule/UART.uart/txstate" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/ack" BEL
        "sam/MyCtrlModule/TAPE2.taploader_inst/data_req" BEL
        "sam/maquina/el_saa/top/amp2/phase" BEL
        "sam/maquina/el_saa/bottom/amp2/phase" PIN
        "sam/MyCtrlModule/myosd/charram/Mram_mem1_pins<22>" PIN
        "sam/MyCtrlModule/myosd/charram/Mram_mem1_pins<23>" PIN
        "sam/MyCtrlModule_myosd/charrom/Mram_rom_pins<14>" BEL
        "sam/MyCtrlModule/UART.uartrxfifo/Mram_mem482/DP" BEL
        "sam/MyCtrlModule/UART.uartrxfifo/Mram_mem482/SP" BEL
        "sam/MyCtrlModule/UART.uartrxfifo/Mram_mem32_RAMA" BEL
        "sam/MyCtrlModule/UART.uartrxfifo/Mram_mem32_RAMB" BEL
        "sam/MyCtrlModule/UART.uartrxfifo/Mram_mem32_RAMC" BEL
        "sam/MyCtrlModule/UART.uartrxfifo/Mram_mem32_RAMD";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN sam/los_relojes/pll_base_inst/PLL_ADV_pins<2> = BEL
        "sam/los_relojes/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP clock_50_i = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "sam/los_relojes/pll_base_inst/PLL_ADV_pins<2>";
TS_clk50 = PERIOD TIMEGRP "clock_50_i" 20 ns HIGH 50%;
TS_sam_los_relojes_clkout0 = PERIOD TIMEGRP "sam_los_relojes_clkout0" TS_clk50
        / 0.961538462 HIGH 50%;
SCHEMATIC END;

